<ion-header>
  <ion-toolbar>
    <ion-title>
      {{ usuarioService.usuario.alias }}
    </ion-title>
    <ion-buttons slot="end">
      <ion-button color="light" (click)="editarUsuario()">
        <ion-icon slot="icon-only" name="settings"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>  
  <ion-list lines="none">
    <ion-item *ngFor="let personaje of personajeService.personajes; let i = index" (click)="goEdit(i)">
      <ion-avatar slot="start">
        <img [src] = "(personaje.avatar !== '') ? personaje.avatar : './../../assets/icon/avatar_default.png'">
      </ion-avatar>
      <div>
        <ion-label>{{ personaje.nombre }}</ion-label>
        <ion-label>{{ personaje.raza }} ({{ personaje.cultura }})</ion-label>
      </div>
      <div class="nvl"><ion-label>Nivel {{ personaje.nivel }}</ion-label></div>
    </ion-item>
  </ion-list>
</ion-content>
<ion-footer>
    <ion-toolbar>
      <ion-buttons>
        <ion-button class="np" href="/editar-personaje"  routerDirection="forward">Nuevo Personaje</ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-footer>
